<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Category</title>
</head>
<body>
    <h1>Add Category</h1>
    <div>
        <form th:object="${category}" th:action="@{/savecategory}" action="#" method="post">
            <label>Category</label>
            <input type="text" id="category" th:field="*{name}"><br>
            <input type="submit" value="Save">
        </form>
    </div>
    
</body>
</html>