<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book List</title>

    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />

</head>

<body>
    <div style="display:flex; align-items: center; justify-content: space-between; margin-top: 20px;margin-bottom: 30px;">
        <h1>Books</h1>
        <h2>Welcome back <span sec:authentication="name"></span>!</h2>

        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out" />
        </form>
    </div>

    <table class="table table-striped">
        <tr>
            <th>Book id</th>
            <th>Title</th>
            <th>Author</th>
            <th>Publication Year</th>
            <th>ISBN</th>
            <th>Price</th>
            <th>Category</th>
            <th sec:authorize="hasAuthority('ADMIN')">Actions</th>
        </tr>

        <tr th:each="book : ${books}">
            <td th:text="${book.bookId}"></td>
            <td th:text="${book.title}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.publicationYear}"></td>
            <td th:text="${book.isbn}"></td>
            <td th:text="${book.price}"></td>
            <td th:text="${book.category.name}"></td>
            <td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${book.bookId})}" class="btn btn-danger">Delete</a></td>
            <td><a th:href="@{/edit/{id}(id=${book.bookId})}">Edit</a></td>
        </tr>
    </table>
    <a href="/addbook" class="btn btn-success">Add Book</a>
    <a href="/addcategory" class="btn btn-success">Add Category</a>

</body>

</html>